.no-scroll {
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: white;
}

header > .banner-item {
    margin: auto 2em;
}

.header-image {
    height: 4em;
}

.clickable {
    cursor: pointer;
}

.overview-grid {
    /* max-width: 1300px; */
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
    justify-content: center;
    align-items: space-evenly;
    align-content: center;
}

.thumbnail-container {
    height: 200px;
    width: 200px;
    overflow: hidden; 
}

.thumbnail {
    object-fit: cover;
}

.album-icon {
    position: relative;
    bottom: 190px;
    right: 10px;
    z-index: 60;
    float: right;
    /* Source: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(0%) saturate(1332%) hue-rotate(119deg) brightness(117%) contrast(100%);
    padding: 4px;
    background-color: lightgrey;
    border-radius: 12px;
    opacity: 0.6;
}

.post-overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-overlay-frame {
    max-width: 90vw;
    padding: 1em 0 2em 0;
    height: auto;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.close-overlay {
    margin-right: 1em;
    align-self: flex-end;
}

.post-overlay-content {
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;
}

.post-media {
    display: flex;
    flex-direction: column;
    flex: 2 1 65%;
}

.media-content {
    display: flex;
    justify-content: center;
}

.media-data.multi {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 50vh;
    padding-right: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.post-description {
    padding: 0 1.5em;
    align-self: flex-start;
    flex: 1 1 35%;
}

.post-description .description {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 50vh;
    padding-right: .5rem;
}

.close-post-overlay,
.prev-post,
.next-post {
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .post-overlay-content {
        flex-wrap: wrap;
    }
    .media-item {
        max-width: 400px;
    }
    .post-media,
    .post-description {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (min-width: 576px) {
    .media-item {
        max-width: 250px;
    }
}
@media only screen and (min-width: 768px) {
    .post-overlay-frame {
        max-width: 80vw;
    }
    .media-item {
        max-width: 300px;
    }
}
@media only screen and (min-width: 1025px) {
    .post-overlay-frame {
        max-width: 70vw;
    }
    .media-item {
        max-width: 350px;
    .post-description .description {
        max-height: 70vh;
    }
    }
}
@media only screen and (min-width: 1200px) {
    .post-overlay-frame {
        max-width: 60vw;
    }
    .media-item {
        max-width: 400px;
    }
}
@media only screen and (min-width: 1500px) {
    .post-overlay-frame {
        max-width: 50vw;
    }
    .media-item {
        max-width: 500px;
    }
}

.video {
    position: relative;
}

.volume-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 80;
    float: right;
    /* Source: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(0%) saturate(1332%) hue-rotate(119deg) brightness(117%) contrast(100%);
    padding: 4px;
    background-color: lightgrey;
    border-radius: 12px;
    opacity: 0.8;
}

.stats {
    display: flex;
}

.stats > :not(:first-child) {
    margin-left: 1em;
}

.post-date {
    font-size: small;
}

.sort-date {
    cursor: pointer;
    margin-top: 1em;
}

.scroll-to-top {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 4px 14px 10px 14px; /* Some padding */
    border-radius: 32px; /* Rounded corners */
    font-size: 26px; /* Increase font size */
}

.scroll-to-top:hover {
  background-color: skyblue; /* Add a dark-grey background on hover */
}